<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>


	<p>Splurty was built by Esther. She’s on a mission to learn how to code after spending a long stint on Capitol Hill.
	</p>
	<p>
	If you want to learn how to code like Esther – Start <a target=”_blank” href=http://www.thefirehoseproject.com/>here</a>.
	</p>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'peace.jpg', :class => 'img-responsive' %>
  </div>

  
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />